.body{
    font-style: Verdana-Bold,AdobeInvisFont,Courier;
}
.container{
    margin: 0 auto;
    width: 1360px;
    min-height: 840px;
    background-image: url(../img/bg-img.png);
    background-size: cover;
}
a{
    text-decoration: none;
}

.nav-bar-logo{
    display: inline-block;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    padding: 20px 80px;
}

.nav-bar-links {
    display: block;
    color: white;
    float: right; 
    padding: 20px 80px;  
} 

.registration-signature{
    font-size: 14px;
    color: #3CB878;
}


.nav-bar{
    background-color:rgb(40,40,40,0.6);
}

.nav-bar-logo:hover{
    color: #3CB878;
}

.registration-signature:hover{
    border-bottom: 1px solid #3CB878;
}

.content{
    width: 100%;
    margin: 65px auto;
    max-width: 445px;
    border-radius: 20px;
    background: white;
}
.content-container{
    width: 325px;
    margin: 0 auto;    
}
.content h3{
    padding: 20px 0;
    font-size: 20px;
    display: inline-block;
    margin-right: 210px;
}

.sing-up{
    position: relative;
    top: 40px;
    width: 18px;
    height: 18px;
    background-color: #3CB878;

}
.btn-facebook {
    display: inline-block;
    border: 1px solid #264B96;
    background-color: #264B96;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    font-size: 16px;
    margin-right: 12px;
}
.btn-facebook span{
    font-size: 30px;
    padding: 0 20px;
}

.btn-google{
    display: inline-block;
    border: 1px solid #C3412C;
    background-color: #C3412C;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    font-size: 16px;
}
.btn-google span{
    font-size: 30px;
    padding: 0 20px;
}

.left{
    width: 43%;
    float: left;
    border: 1px solid #EAEAEA;
    margin-top: 25px;
}

.right{
    width: 43%;
    float: right;
    border: 1px solid#EAEAEA;
    margin-top: 25px;
}

.or-line{
    display: inline-block;
    margin: 18px 14px;
    color: #848484;
    font-size: 14px;
}

.registration{
    display: block;
    margin: 10px 0;
    padding: 10px 135px 10px 10px;
}

.agreement{
    margin: 10px;
}

.registration-btn{
    font-size: 16px;
    color: white;
    padding: 17px 105px;
    border-radius: 5px;
    background-color: #3CB878;
    margin: 25px 0;
    cursor: pointer;
}

/* sprite */
ul{
     display: inline-block; 
}

li{
    margin: 0 25px;
}

li a{
    display: inline-block;
    padding: 10px;
}

li.btn-calendar {
    display: inline-block; 
    background: url(../img/bg-sprait/f1.png) no-repeat;
    height: 19px;
    width: 19px;
    background-position: -19px 0;
}

li.btn-forum {
    display: inline-block;  
    background: url(../img/bg-sprait/f2.png) no-repeat;
    height: 19px;
    width: 27px;
    background-position: -28px 0; 
} 

li.btn-journey {
    display: inline-block; 
    background: url(../img/bg-sprait/f3.png) no-repeat;
    height: 20px;
    width: 20px;
    background-position: -20px; 
} 

:hover.btn-calendar{
    background-position: 0;
}

:hover.btn-forum{
    background-position: 0;
}

:hover.btn-journey{
    background-position: 0;
}

.registration:focus{
    box-shadow: 5px 5px 5px 0#D6D6D6;
}
        
label input {
    display: none;
  }
label span {
    height: 14px;
    width: 14px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    background-color:#FFF;
    border-radius:2px;
    padding:2px;
    cursor: pointer;
}
[type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    top: 0;
    left: 0;
    font-size:20px;
    font-weight: bold;
    color: #3CB878;
}



